<h3 class="page-title"> Tags</h3>
<div class="row text-center" ng-show="requesting">
    <div class="col-md-12">
      <div class="loading-message"><div class="block-spinner-bar"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
    </div>
</div>
<div ng-show="!requesting">
  <div class="row">
    <div class="col-md-12">

      <div class="portlet light bordered" id="form_wizard_1">
        <div class="portlet-title">
          <div class="caption">
            <i class=" icon-layers font-red"></i>
            <span class="caption-subject font-red bold uppercase">Add Tag</span>
            </span>
          </div>
        </div>

        <div class="portlet-body form">
          <div class="row">
            <div class="col-md-6">
              <form
                name="myForm"
                sf-schema="schema"
                sf-form="form"
                sf-model="model"
              >
              </form>
              <div class="btn btn-primary" ng-click="submit()">Submit</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row top-buffer">
    <div class="col-md-12">
      <a href="/app/#/tags" class="btn btn-default">Back to Tags</a>
    </div>
  </div>
</div>
