.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color:  #3A4554;
}

.lock-tabset{
  background-color: #3A4554;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #3A4554;
}

.nav>li>a, .nav>li>a {
    background-color: #323D4B;
}

.page-lock .page-body {
  background-color: #323D4B !important;
}

.nav-tabs-justified>li>a, .nav-tabs.nav-justified>li>a {
  border-bottom-color: #68BFCE !important;
  color: #68BFCE;
}

.nav-tabs-justified>.active>a, .nav-tabs-justified>.active>a:focus, .nav-tabs-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
  border-bottom-color: #68BFCE !important;
  color: #68BFCE;
}


.nav-tabs-justified>.active>a, .nav-tabs-justified>.active>a:focus, .nav-tabs-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
  border: 1px solid transparent;
}

.collapsing, .dropdown, .dropup {
  max-width: 240px;
}

.input-group .form-control {
    position: relative;
     z-index: auto;
    float: left;
    margin-bottom: 0;
}

.input-group-btn .btn.red {
    width: 84px;
}
.btn.btn-outline.green-sharp {
    border-color: #6B7478;
    color: #FFFFFF;
    background: none;
}

.btn.btn-outline.green-sharp:hover, .btn.btn-outline.green-sharp:active, .btn.btn-outline.green-sharp:active:hover, .btn.btn-outline.green-sharp:active:focus, .btn.btn-outline.green-sharp:focus, .btn.btn-outline.green-sharp.active {
    border-color: #6B747F;
    color: #FFFFFF;
    background-color: #6B747F;
}

body {
    background-color: #465568 !important;
    padding: 0;
    margin: 0; }
.page-footer-custom {
    display: none;
}
.page-footer-custom.hide {
    display: block!important;
}
.page-lock {
    margin: 90px auto 30px auto;
    width: 450px; }

.page-lock .page-logo {
    text-align: center;
    margin-bottom: 15px; }

.page-lock .page-body {
    width: 100%;
    margin-top: 20px;
    background-color: #3a4554;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px; }

.lock-head {
    display: block;
    background-color: #323d4b;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 400;
    color: #68BFCE;
    -webkit-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -ms-border-radius: 7px 7px 0 0;
    -o-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0; }

.lock-body {
    display: block;
    margin: 35px;
    overflow: hidden;
}

.lock-body .oauth img {
    width: 100%;
}
.lock-body .expired .oauth img {
    max-width: 208px;
}

.lock-form .form-group .btn-default.form-control.ui-select-toggle {
    color: #BCC0C5;
    line-height: 1.8;
}

.lock-form .form-group .btn-default.form-control.ui-select-toggle span.ui-select-match-text.pull-left {
    width: 93%;
    overflow:hidden;
}


.lock-form .form-group .ui-select-container.ui-select-bootstrap {
    width: 260px;
    position: absolute;
}

.lock-form .form-group .ui-select-container.ui-select-bootstrap>.ui-select-choices {
    margin-top: 2px;
    background: #3f4f62;
    border: none;
    max-height: none;
}


.lock-form .form-group .ui-select-bootstrap .ui-select-choices-row>a,
.lock-form .form-group .ui-select-bootstrap .ui-select-choices-row.active>a{
    padding: 5px 5px;
    color: #34495e;
    border: none;
    border-left: 1px solid #364150;
    border-right: 1px solid #364150;
    border-bottom: 1px solid #4b5e75;
    background-color: #364150;
}

.lock-form .form-group .ui-select-bootstrap .ui-select-choices-row>a:hover {
    /*background-color: #68BFCE;*/
    /*border: 3px solid #34495e;*/
}


.lock-form .form-group .ui-select-bootstrap .ui-select-choices-row .select2-result-repository__title {
    color: #34495e;
    font-size: 1.3em;
    line-height: 1.5;
    margin-bottom: 0px;
    width: 100%;
    overflow: hidden;
    text-wrap: none;
    text-overflow: ellipsis;
    white-space: initial;
    line-height: 1.3;
}

.lock-form .form-group .ui-select-bootstrap .ui-select-choices-row:last-child>a {
    border-bottom: none;
}

.lock-avatar {
    height: 110px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    background-color: #FFF;}

.lock-form {
    padding-left: 10px; }

.lock-form h4 {
    margin-top: 0px;
    color: #dbe2ea;
    font-size: 18px;
    font-weight: 400;
}

.lock-form .form-group {
    margin-top: 20px; }

.lock-form .form-group .form-control {
    background-color: #303a48;
    border: none;
    width: 260px;
    height: 40px;
    color: #697687; }

.lock-form .form-group .form-control::-moz-placeholder {
    color: #556376;
    opacity: 1; }

.lock-form .form-group .form-control:-ms-input-placeholder {
    color: #556376; }

.lock-form .form-group .form-control::-webkit-input-placeholder {
    color: #556376; }

.lock-form .form-group .form-control:focus {
    background-color: #2b3542; }

.lock-page .ui-select-bootstrap .ui-select-choices-row>span {
    border-bottom: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;
}
.lock-page .ui-select-bootstrap .ui-select-choices-row.active>span,
.lock-page .ui-select-bootstrap .ui-select-choices-row.active:hover>span{
    border: 3px solid #34495e;
    background-color: #68BFCE;
}
.lock-page .ui-select-bootstrap .ui-select-choices-row:hover>span {
    background-color: #68BFCE;
    border-bottom: 3px solid #68BFCE;
    border-top: 3px solid #68BFCE;
}

.lock-page .ui-select-bootstrap .ui-select-choices::-webkit-scrollbar {
    display: none;
}
.lock-page .ui-select-bootstrap .ui-select-choices-row>span .select2-result-repository__title {
    color: #34495e;
    white-space: initial;
    line-height: 1.3;
}
.lock-page .ui-select-bootstrap .ui-select-choices-row>span a {
    color: #34495e;
}
.lock-page .ui-select-bootstrap .ui-select-choices-row.active>span a,
.lock-page .ui-select-bootstrap .ui-select-choices-row:hover>span a{
    color: #FFFFFF;
}
.lock-page .ui-select-bootstrap .ui-select-choices-row.active>span a:hover,
.lock-page .ui-select-bootstrap .ui-select-choices-row:hover>span a:hover{
    color: #FFFFFF;
}
.lock-form .form-actions {
    position: absolute;
    margin-top: 50px; }

.lock-form .form-actions .btn {
    width: 260px;
    font-weight: 600;
    padding: 10px; }

.lock-bottom {
    display: block;
    background-color: #323d4b;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -ms-border-radius: 0 0 7px 7px;
    -o-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px; }

.lock-bottom a {
    font-size: 14px;
    font-weight: 400;
    color: #638cac; }

.lock-bottom a:hover {
    color: #7ba2c0; }

.lock-bottom .row.login-options{
    margin: 0 15px;
}
.lock-bottom .login-options .tenant-icons {
    /*float: right;*/
    padding-top: 3px; }

.lock-bottom .login-options .tenant-icons li a img.thumbnail {
    width: 32px;
    height: 32px;
}

.lock-bottom .login-options h4 {
    float: left;
    font-weight: 600;
    font-size: 15px;
    color: #7d91aa !important; }

.page-footer-custom {
    text-align: center;
    padding-top: 40px;
    color: #5f6e83; }

.login-message {
  font-size: 15px;
  color: #68BFCE;
}

#tokenCountdown {
    margin: 0;
    overflow: hidden;
}

#tokenCountdown span.countdown_row {
    overflow: hidden;
}

#tokenCountdown span.countdown_row span {
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-right: 4px
}

#tokenCountdown span.countdown_row>span {
    /*float: left*/
    display:inline-block;
}

#tokenCountdown span.countdown_section {
    color: #fff;
    padding: 7px 13px!important;
    margin-bottom: 2px;
    font-weight: 300;
    background: url(../img/bg-white.png);
}

#tokenCountdown span.countdown_section:last-child {
    margin-right: 0;
}

#tokenCountdown span.countdown_amount {
    display: inline-block;
    font-size: 21px!important;
    padding: 9px!important;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

/*@media (max-width: 1024px) {
    #tokenCountdown span.countdown_amount {
        padding:10px
    }
}

@media (max-width: 320px) {
    .coming-soon-content .btn-subscribe span {
        display:none
    }
}

@media (max-width: 768px) {
    .page-lock {
        margin: 100px auto; }
    .coming-soon-content,.coming-soon-countdown,.coming-soon-footer,.coming-soon-header {
        margin-top:0;
        padding: 10px
    }
}

@media (max-width: 560px) {
    .page-lock {
        margin: 50px auto;
        width: 100%;
      }
    .lock-body {
        margin: 30px; }
    .lock-avatar {
        width: 120px;
        height: 120px;
        margin-top: 20px; }
    .lock-form h4 {
        font-size: 16px; }
    .lock-form .form-group .form-control {
        padding: 20px 20px;
        width: 170px; }
    .lock-form .form-actions .btn-success {
        width: 170px;
        margin-bottom: 10px; } }

@media (max-width: 420px) {
    .page-lock {
        margin: 30px auto;
        width: 100%;
      }
    .lock-body {
        margin: 0px; }
    .page-lock .page-body {
        margin-top: 30px; }
    .lock-avatar {
        margin-top: 20px; }
    .lock-avatar-block {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px; }
    .lock-form {
        padding-left: 20px; }
    .lock-form h4 {
        font-size: 16px;
        text-align: center; }
    .lock-form .form-group .form-control {
        padding: 20px 20px;
        width: 240px; }
    .lock-form .form-actions .btn-success {
        width: 240px;
        margin-bottom: 20px; } }*/

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-top:10px;
}
